
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');



            .mentionslegalesbloc{
              padding-left: 1.5%;
              padding-right: 1.5%;
            }
            .mentionslegalespolice{
                margin-top: 6%;
                font-size: 18px;
                font-weight: 800px;
                color: black;
                text-decoration: none;
             }

        
      
        .styleprestationtitle1{
            font-weight: 600;
            color: rgb(0, 0, 0);
        }
        .styleprestationtitle2{
            font-weight: 600;

        }










/*Orientation  paysage*/


        @media screen and (orientation : landscape) {
          body {
            overflow-y: scroll; /* Ajout de la propriété overflow-y */
            overflow-x:hidden;
            width: 100%;
            z-index: 0;
            height: 100vh;
            background: rgb(227, 224, 224);
            font-family: 'Inter', sans-serif;
            background: rgb(227, 224, 224);
            margin: 0;
          }
          
            
          .myheader{
            width: 100vw;
            height: 20%;
            overflow-x : hidden;
            position: relative;
          }
          .headerstyle{
            display: none;
          }
          .headertablette{
            display: none;
          }


          .logolarge{
            max-width: 100%;
            height: 100%;
            width: 98%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 1; 
          }

  .ongletsbloc{
    position: absolute;
    left: 8vw; 
    top:5%;
    display: flex;
    word-wrap: none;
    //background-color: blue;
    padding: 0;
    z-index: 2;
    left: 30%;
    //border: 2px solid black;
    width: 100%;
 

  
  }

    .firstbuttonstyle{
      position: relative;
      margin-top: 2%;
      background-color: yellow;
      border : 1.5px solid black;
      width:10%;  
      height: 6vh;
      display: flex;
      justify-content: center;
      align-items: center;
    
    }





    .buttonstyle{
      
      position: relative;
      margin-top: 2%;
      background-color: yellow;
      border : 1.5px solid black;
      width:10%;  
      height: 6vh;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 6%;
      
    }
    .textongletlandscape{
      font-size: 2vh;
      text-decoration: none;
      color: black;

      
      //margin-top: auto;
     // margin-bottom: auto;
   
      
    }


        /* Accueil */

        .accueilportrait{
          display: none;
        }
        .accueillandscape{
          display: flex;
          position: relative;
          background-color: rgb(255, 255, 255);
          color: rgb(0, 0, 0);
          font-weight: bold;
          min-height: 50vh;
          width:100%; 
          padding: 2;
          margin: 0;
        }



      
      .accueil-image{
          height: 10%;
          width: 10%;
      }
      

      .imgaccueil01{
          top: 5%;
          width: 16%;
          height: auto;
          position: absolute;
          z-index: 2;
          left: 56%;
          
      }
      
      .imgaccueil02{
        width: 24%;
        height: auto;
          position: absolute;
          z-index: 3;
          right: 2%;
          bottom: 12%;
          ;
      
      }

      .styleprestationtitle1{
        font-size: 3vw;
        font-weight: 900;
      }
      .blocmenuiseries{
        position: relative;
        left: 15%;
        font-size: 1.5vw;
        font-weight: 300;
      }
      .prestations01{
        font-size: 6rem;
      }


   .styleprestationtitle2{
        font-size: 3vw;
        font-weight: 900;
      }
      .blocisolation{
        position: relative;
        left: 5%;
        font-size: 1.5vw;
        font-weight: 300;

      }



/* Page prestations*/

.prestationsstyle{
  padding-left: 1%;
  padding-right: 1%;
    background-color: white;
        width: 100%;
}
  

.connexionstyle{
  padding-left: 1%;
  padding-right: 1%;
    background-color: white;
        width: 100%;
        height: 40vh;
}
  





      
/* Page contact*/

.pagecontactstyle{
  font-size: 2.5vh;
  color: rgb(0, 0, 0);
  font-weight: bold;
padding-left: 1%;
padding-right: 1%;
background-color: rgb(255, 255, 255);
//height:80vh;
width: 100%;
margin-top: 1%;
margin-bottom: 1%;
overflow: hidden;

}


.bloctextcontact{
  width: 50%;
  height: 50%;
  margin: auto;
  font-size: 1rem;

}


.divh1{
text-align: center;
 margin-top: 2%;
}

.h1contactstyle{
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
 
}

.h2telstyle{
  text-align: center;
  margin-top: 6%;
  margin-bottom: 0%;
}

.blocmail{
  text-align: center;
  margin: 0;
}











 /* Style du Pied de page */

 .footerstyle{
display: none;

}



.footerlandscape{
  height: 30vh;

}

.footertelstyle{
  position: relative;
  top:24%;
text-align:center ;
font-weight: 600;
font-size: 1.5vw;
}
.footermailstyle{
  text-align:center ;
  font-weight: 600;
  font-size: 1.5vw;
  position: relative;
  top:30%;
}

.my-iconfooter {
  width: 1.5%;
  height: auto;

}

.mentionslegalespolicelandscape{
  border: 2px solid black;
  background-color: yellow;
  width: 20%;
  height:12%;
  margin: auto;
  position: relative;
  bottom: -32%;
  align-items: center;
  
 }

.mentionslegalesstyle{
  color: black;
  text-decoration: none;
  font-weight: 700;
   font-size: 2vh;
}








 /* style des images en galerie */


.h1gallerystyle{
  text-align: center;
}



.gallerybackground{
  display: none;
}


.gallerybackgroundlandscape{
  display: block;
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 3%;
  margin-bottom: 1%;

  
}
.image-container {
  display: flex;
  flex-wrap: wrap;
}

.galeriebloc {
  width: 30%; 
  height: auto;
  margin: 5%; 
  
}

        }


.containeradminstyle{
  padding: 1%;
}

.h1tableaudebord{
  margin: auto; 
text-align: center;
}
.h2tableau{
  margin-top:2.5%;
 
 } 
 .h2adminpagestyle{
  margin-top:2.5%;
 } 
 .h2adminpagestyle{
  margin-top:2.5%;
 } 
 .h2adminpagestyle{
  margin-top:2.5%;
 } 
 .nomfichierstyle{
  margin-top:1%;
 }
































/* format mobile orientation portrait */

/* Notes au correcteur de studi : j'ai modifié la largeur par rapport à celle visible sur la capture d'illustration du responsive dans le compte rendu du projet (premier dépôt) que je vous ai envoyer, la photo d'exemple du code n'est donc plus à jour je m'en excuse je corrigerai cela dans ma seconde version du compte rendu*/

@media screen and (max-width:600px) and (orientation : portrait) { 
  

  body{
    z-index: 0;
     overflow-x: hidden; 
     height: 100vh;
      width: 100%;
     background: rgb(227, 224, 224);
     font-family: 'Inter', sans-serif;
 
   
     }



  .logolarge{
    display: none;
  }

.ongletsbloc{    
display: none;
  }
  .headertablette{
    display: none;
  }

/*En tête : */
.headerstyle{
  max-width: 100%;
  height: 12%;
  display: flex;
  justify-content: center;
  align-items: center;

} 
  .imgheader{
    max-width: 100%; 
    height: auto;
  }






        /* Accueil */


        .accueillandscape{
          display: none;
        }
        .gallerybackgroundlandscape{
          display:none;
                }
        
                .accueillandscape{
                  display: none;
                }


        .pageaccueilstyle{
          font-size: 2.3vh;
          color: rgb(0, 0, 0);
          font-weight: bold;
          padding-top: 1%;
          background-color: rgb(255, 255, 255);
          height: 50vh;
          padding: 0;
          margin: 0;
          position: relative;
          width:100%;
      }
      
      .accueil-image{
          height: 10%;
          width: 10%;
      }
      
      .container-fluid {
          padding: 0;
          margin: 0;
          
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
      }
      
      .imgaccueil01{
          top: 5%;
          width: 42%;
          height: 28vh;
          position: absolute;
          z-index: 2;
          left: 50%;
          
      }
      
      .imgaccueil02{
        width: 50%;
        height: 18vh;
          position: absolute;
          z-index: 3;
          right: 3%;
          bottom: 2%;
          ;
      
      }
      
      /* tableau de bord */
      .mpimputmobile{
        margin-top: 3%;
      }
      
    
         
     
  
    
 .colaccueilstyle01{
          width: 50%;
          height: 100%;
          display: flex;
          position: relative;
          //background-color: rgb(149, 255, 0);
      }

    .styleprestationtitle1{
        font-size: 3.2vh;
        font-weight: 700;
        position: absolute;
        top: 7%;
      }


      .blocparagrapheisolation{
        position: absolute;
        top: 15.5%;
        //background-color: red;

      }   



      .styleprestationtitle2{
        font-size: 3.2vh;
        font-weight: 600;
        position: absolute;
        top: 50%;
      }

.blocparagraphemenuiserie{
  position: absolute;
  top: 58.5%;
  //background-color: rgb(200, 0, 130);

      }








      
  

        /* Style du Pied de page */
        .footerlandscape{
          display:none;
        
        }

        .footerstyle{
            height: 35vh;
            max-width: 100%;
            overflow: hidden;

        }
        
        /* Boutons */
        .buttonstyle{
          margin-top: 2%;
          background-color: yellow;
          border : 2px solid rgb(0, 0, 0);
          width:50%;  
          height: 5vh; 
          display: flex;
          justify-content: center;
          align-items: center;
        
        
        }

          .pagelinkpolice{
              color: black;            
              font-weight: bold;
              font-size: 80%;
              text-decoration: none;
          }

/* Page contact*/

.h1contactstyle{
  font-size: 1.5rem;
  font-weight: 600;
}



        .pagecontactstyle{
          font-size: 1rem;
          color: rgb(0, 0, 0);
          font-weight: bold;
        padding-left: 1%;
        padding-right: 1%;
        background-color: rgb(255, 255, 255);
        
        margin-top: 1%;
        margin-bottom: 1%;
        overflow: hidden;
     }


     .bloctextcontact{
      width: 90%;
      height: 90%;
      margin: auto;
      font-size: 1rem;
    
    }
    
    
    .divh1{
    text-align: center;
     margin-top: 2%;
    }
    
    .h1contactstyle{
      font-size: 2rem;
      font-weight: 600;
      text-align: center;
     
    }
    
    .h2telstyle{
      text-align: center;
      margin-top: 6%;
      margin-bottom: 0%;
    }
    
    .blocmail{
      text-align: center;
      margin: 0;
    }




    /* style des images en galerie */
 
    
    .gallerybackgroundlandscape{
      display:none;
            }

    .gallerybloc {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
        overflow: hidden;
        
      }
    
      .h1gallerystyle{
        text-align: center;
      }

      .gallery-image {
        max-width: 100%;
        max-height: 100%;
        display: none;
      }
      
      .gallery-image.active {
        display: block;
      }


      .my-icon {
        width: 15%;
        height: auto;
        background-color: yellow;
      }

      .gallerybackground{
        background-color: white;
      }

      .gallerybuttonline{
        display: flex;
        //justify-content: center;
        position: relative;
        
        
      }


      /* Page prestations */

      .prestationsstyle{
        background-color: white;
        width: 100%;
        padding-left: 2%;
        padding-right: 2%;
      }

/*Page admin*/


 .h1tableaudebord{
  text-align: center;
 }

 .h2tableau{
  font-size: 16px;
  text-align: center;

}

.tableadminpagestyle {
  border: 1px solid black;
  background-color: white;
  font-size: 8px;
  width: 95%;
  font-weight: bold;
  table-layout: fixed;

  margin-top: 0%;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
  max-width: 95%;
  max-height: 40%;
  overflow-y: scroll;

}

.tableadminpagestyle th, .tableadminpagestyle td {
  width: 50%;
  word-wrap: break-word;  
  padding-right: 10px;
  padding-bottom: 1%;
  
 
}




.h2adminpagestyle{
margin-top: 5%;


}

.imputidstyle{
  margin-bottom: 5%;
}

.textareadesriptionstyle{
  margin-bottom: 5%;
}

.selectimagestyle{
  margin-bottom: 5%;
}

.containeradminstyle{
  max-width: 100%;
  overflow: hidden;
  padding-left: 1%;
  padding-right: 1%;
}


.deconnexionpageadminstyle{
  margin-top: 6%;
}





        /* Style du Pied de page */
        .footerlandscape{
          display:none;
        
        }

        .footerstyle{
            height: 35vh;
            max-width: 100%;
            overflow: hidden;

        }

        .buttonstyle{
          margin-top: 2%;
          background-color: yellow;
          border : 0.8% solid rgb(0, 0, 0);
          width:50%;  
          height: 5vh;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        
        .pagelinkpolice{
          color: black;
          font-weight: bold;
          font-size: 80%;
          text-decoration: none;
          /* Centrer le texte verticalement */
          line-height: 1.5em;
        }
      }


















































/*Format tablette orientation portrait */





@media only screen and (orientation: portrait) and (min-width:600px) and (max-width: 768px) {



  body{
    z-index: 0;
     overflow-x: hidden; 
     height: 100vh;
      width: 100%;
     background: rgb(227, 224, 224);
     font-family: 'Inter', sans-serif;
 
   
     }



/*En tête : */


.logolarge{
  display: none;
}

.ongletsbloc{    
display: none;
}

/*En tête : */
.headerstyle{
 display: none;
} 

.headertablette{
 
  max-width: 100%;
  height: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}





.imgheader{
  position: relative;
  top:5%;
    width: 100%; 
  height: auto;
}




        /* Accueil */

        .accueillandscape{
          display: none;
        }

        .pageaccueilstyle{
          font-size: 18px;
          color: rgb(0, 0, 0);
          font-weight: bold;
          padding-top: 1%;
          background-color: rgb(255, 255, 255);
          height: 50vh;
          padding: 4%;
          margin: 0;
          position: relative;
          width:100%;
      }
      
      .accueil-image{
          height: 10%;
          width: 10%;
      }
      
      .container-fluid {
          padding: 0;
          
          margin: 0;
          
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
      }
      
      .imgaccueil01{
          top: 1.5%;
          width: 32%;
          height: 28vh;
          position: absolute;
          z-index: 2;
          left: 54%;
          
      }
      
      .imgaccueil02{
        width: 38%;
        height:18vh ;
          position: absolute;
          z-index: 3;
          right: 11%;
          bottom: 1.5%;
          ;
      
      }

    
 .colaccueilstyle01{
          width: 50%;
          height: 100%;
          display: flex;
          position: relative;
         
      }

    .styleprestationtitle1{
        font-size: 2.8rem;
        font-weight: 700;
        position: absolute;
        top: 1%;
      }


      .blocparagrapheisolation{
        position: absolute;
        top: 15.5%;
        font-size: 1.8rem;
      
      }   



      .styleprestationtitle2{
        font-size: 2.8rem;
        font-weight: 600;
        position: absolute;
        top: 49.5%;
        margin-top: 10%;
      }

.blocparagraphemenuiserie{
  position: absolute;
  top: 58.5%;
  font-size: 1.8rem;
  margin-top: 16%;
  
  
  //background-color: rgb(200, 0, 130);

      }





      








 /* Style du Pied de page */
 .footerlandscape{
  display:none;

}

 .footerstyle{
  height: 35vh;
  max-width: 100%;
  overflow: hidden;

}



        /* Boutons */
        .buttonstyle{
          margin-top: 2%;
  background-color: yellow;
  border: 4px solid rgb(0, 0, 0);
  width: 50%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
        }

          .pagelinkpolice{
              color: black;            
              font-weight: bold;
              font-size: 2rem;
              text-decoration: none;
          }





/* style des images en galerie */

.gallerybackgroundlandscape{
  display:none;
        }

.gallerybloc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  overflow: hidden;
  
}

.h1gallerystyle{
  text-align: center;
}

.gallery-image {
  max-width: 100%;
  max-height: 100%;
  display: none;
}

.gallery-image.active {
  display: block;
}


.my-icon {
  width: 8%;
  height: auto;
  background-color: yellow;
}

.gallerybackground{
  background-color: white;
  
}

.gallerybuttonline{
  display: flex;
  //justify-content: center;
  position: relative;
}
  
  .gallerydescription{
    text-align: center;
    line-height: 4rem;
    font-size: 2rem;
  }
  


      /* Page prestations */

      .prestationsstyle{
        background-color: white;
        width: 100%;
        padding-left: 2%;
        padding-right: 2%;
      }








//Pageconnexion


h1{
  font-size: 3.5rem;
}

.formularcontainer {
  margin-top: 2%;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 10vh 10vh 5vh;
  gap: 10px;
  height: 50vh;
  grid-template-areas:
    "imputlabelA imputB"
    "imputlabelC imputD"
    "formularbutton formularbutton";
}

.imputlabelA {
  grid-area: imputlabelA;
  text-align: center;
  font-size: 2rem;
  align-self: center;
  


}

.imputlabelC {
  grid-area: imputlabelC;
  text-align: center;
  font-size: 2rem;
  align-self: center;

}

.imputstyle{
  margin-left: 1%;
  margin-right: 0;
display: inline-block;
}

.imputdimension {
height:3rem;
width: 90%;
margin: 1%;
padding: 5%;
border : 1.5px solid black;
position: relative;
top: 20%;
}

.formularbuttoncontainer{
  grid-area: formularbutton;
}
.formularbuttonstyle{
  
  width: 20%;
  height: 3.5vh;
  
  position: relative;
  left: 10%;
}









/* Page contact*/

.pagecontactstyle{
  font-size: 2rem;
  color: rgb(0, 0, 0);
  font-weight: bold;
padding-left: 1%;
padding-right: 1%;
background-color: rgb(255, 255, 255);

margin-top: 1%;
margin-bottom: 1%;
overflow: hidden;

}
.h1contactstyle{
  font-size: 3rem;
  font-weight: 600;
}


.bloctextcontact{
  width: 50%;
  height: 50%;
  margin: auto;
  font-size: 1rem;

}


.divh1{
text-align: center;
 margin-top: 2%;
}

.h1contactstyle{
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
 
}

.h2telstyle{
  text-align: center;
  margin-top: 6%;
  margin-bottom: 0%;
}

.blocmail{
  text-align: center;
  margin: 0;
}


}




/*format desktop orientation portrait*/



@media only screen and (orientation: portrait) and (min-width: 769px) {



  body{
    z-index: 0;
     overflow-x: hidden; 
     height: 100vh;
      width: 100%;
     background: rgb(227, 224, 224);

     font-family: 'Inter', sans-serif;
 
   
     }



/*En tête : */


.logolarge{
  display: none;
}

.ongletsbloc{    
display: none;
}

/*En tête : */
.headerstyle{
 display: none;
} 

.headertablette{
 
  max-width: 100%;
  height: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}





.imgheader{
  position: relative;
  top:5%;
    width: 100%; 
  height: auto;
}




        /* Accueil */

        .accueillandscape{
          display: none;
        }
        .pageaccueilstyle{
          font-size: 18px;
          color: rgb(0, 0, 0);
          font-weight: bold;
          padding-top: 1%;
          background-color: rgb(255, 255, 255);
          height: 50vh;
          padding: 4%;
          margin: 0;
          position: relative;
          width:100%;
      }
      
      .accueil-image{
          height: 10%;
          width: 10%;
      }
      
      .container-fluid {
          padding: 0;
          
          margin: 0;
          
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
      }
      
      .imgaccueil01{
          top: 1.5%;
          width: 32%;
          height: 28vh;
          position: absolute;
          z-index: 2;
          left: 54%;
          
      }
      
      .imgaccueil02{
        width: 38%;
        height:18vh ;
          position: absolute;
          z-index: 3;
          right: 11%;
          bottom: 1.5%;
          ;
      
      }

    
 .colaccueilstyle01{
          width: 50%;
          height: 100%;
          display: flex;
          position: relative;

      }

    .styleprestationtitle1{
        font-size: 3rem;
        font-weight: 700;
        position: absolute;
        top: 6.5%;
      }


      .blocparagrapheisolation{
        position: absolute;
        top: 15.5%;
        font-size: 2rem;


      }   



      .styleprestationtitle2{
        font-size: 3rem;
        font-weight: 600;
        position: absolute;
        top: 49.5%;
      }

.blocparagraphemenuiserie{
  position: absolute;
  top: 58.5%;
  font-size: 2rem;
  


      }





      








 /* Style du Pied de page */
 .footerlandscape{
  display:none;

}

 .footerstyle{
  height: 35vh;
  max-width: 100%;
  overflow: hidden;

}



        /* Boutons */
        .buttonstyle{
          margin-top: 2%;
          background-color: yellow;
          border : 4px solid rgb(0, 0, 0);
          width:50%;  
          height: 5vh;
          display: flex;
          justify-content: center;
          align-items: center;
        }

          .pagelinkpolice{
              color: black;            
              font-weight: bold;
              font-size: 2rem;
              text-decoration: none;
          }





/* style des images en galerie */



.h1gallerystyle{
  text-align: center;
}



.gallerybackground{
  display: none;
}


.gallerybackgroundlandscape{
  display: block;
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 3%;
  margin-bottom: 1%;

  
}
.image-container {
  display: flex;
  flex-wrap: wrap;
}

.galeriebloc {
  width: 30%; 
  height: auto;
  margin: 5%; 
  
}

        


.containeradminstyle{
  padding: 1%;
}

.h1tableaudebord{
  margin: auto; 
text-align: center;
}
.h2tableau{
  margin-top:2.5%;
 
 } 
 .h2adminpagestyle{
  margin-top:2.5%;
 } 
 .h2adminpagestyle{
  margin-top:2.5%;
 } 
 .h2adminpagestyle{
  margin-top:2.5%;
 } 
 .nomfichierstyle{
  margin-top:1%;
 }






      /* Page prestations */

      .prestationsstyle{
        background-color: white;
        width: 100%;
        padding-left: 2%;
        padding-right: 2%;
      }








//Pageconnexion


h1{
  font-size: 3.5rem;
}

.formularcontainer {
  margin-top: 2%;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 10vh 10vh 5vh;
  gap: 10px;
  height: 50vh;
  grid-template-areas:
    "imputlabelA imputB"
    "imputlabelC imputD"
    "formularbutton formularbutton";
}

.imputlabelA {
  grid-area: imputlabelA;
  text-align: center;
  font-size: 2rem;
  align-self: center;
  


}

.imputlabelC {
  grid-area: imputlabelC;
  text-align: center;
  font-size: 2rem;
  align-self: center;

}

.imputstyle{
  margin-left: 1%;
  margin-right: 0;
display: inline-block;
}

.imputdimension {
height:3rem;
width: 90%;
margin: 1%;
padding: 5%;
border : 1.5px solid black;
position: relative;
top: 20%;
}

.formularbuttoncontainer{
  grid-area: formularbutton;
}
.formularbuttonstyle{
  
  width: 20%;
  height: 3.5vh;
  
  position: relative;
  left: 10%;
}









/* Page contact*/

.pagecontactstyle{
  font-size: 2rem;
  color: rgb(0, 0, 0);
  font-weight: bold;
padding-left: 1%;
padding-right: 1%;
background-color: rgb(255, 255, 255);

margin-top: 1%;
margin-bottom: 1%;
overflow: hidden;

}
.h1contactstyle{
  font-size: 3rem;
  font-weight: 600;
}


.bloctextcontact{
  width: 50%;
  height: 50%;
  margin: auto;
  font-size: 1rem;

}


.divh1{
text-align: center;
 margin-top: 2%;
}

.h1contactstyle{
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
 
}

.h2telstyle{
  text-align: center;
  margin-top: 6%;
  margin-bottom: 0%;
}

.blocmail{
  text-align: center;
  margin: 0;
}


}







