body{
    height: 100vh;
    background: radial-gradient(white,rgb(232, 232, 232));
    



    .stylehomepage{
        
        .headerstyle{

            height: 15vh;
            h1{
              font-size: 40px;  
              .undertitle{
                font-size:14px; 
                padding-right: 41%;
                margin-left: 5%;
                line-height: 2%;

              }
              
            }
            
        }
 


        }

        .footerstyle{
            height: 35vh;

        }


        
        /* Boutons */
        .buttonstyle{
            margin-top: 2%;
            background-color: yellow;
            border : 1px solid rgb(0, 0, 0);
            width:50%;  
            height: 5vh; }

            .pagelinkpolice{
                color: black;            
                font-weight: bold;
                font-size: 80%;
                text-decoration: none;
            }
       





            .Apropospolice{
                margin-top: 6%;
                font-size: 18px;
                font-weight: 800px;
                color: black;
                text-decoration: none;
             }

        }

    
    .mainstyle{
        height: 50vh;
        background-color: #ffffff;
        font-size: 20px;
        font-weight: 600px;
        color: black;
        padding-left: 2%;
        
        
        .styleprestationtitle1{
            font-weight: 600;
            color: rgb(0, 0, 0);
        }
        .styleprestationtitle2{
            font-weight: 600;

        }}